html {
    user-select: none
}

.nameNodes {
    background: rgb(200, 200, 200);
    font-size: 3vh;
    font-style: bold;
    text-align: center;
    border-width: 3vh;
    border-style: solid;
    border-radius: 100%;
    border-color: rgb(200, 200, 200);
}

.nameNodes:hover {
    background: rgb(100 ,100, 100);
    border-color: rgb(100, 100, 100);
}

.dependencyNodes {
    background: rgb(240, 50, 50);
    font-size: 2.5vh;
    text-align: center;
    /*border: 3ch solid grey;
    border-radius: 100%;
    border-color: rgb(240, 50, 50);*/
}

.outputNodes {
    background: rgb(0, 200, 50);
    font-size: 2.5vh;
    text-align: center;
    /*border: 3ch solid grey;
    border-radius: 100%;
    border-color: rgb(0, 200, 50);*/
}

tr th {
    font-size: 4vh;
}

table {
    white-space: nowrap;
    table-layout: auto;
}

a:link {
    text-decoration: none;
    color:black
}

a:visited {
    text-decoration: none;
    color: black;
}
