
@(nodeName : String, nodeDependencies : Array[String], nodeOutputs : Array[String])

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>@nodeName</title>
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/checkNode.css")">
</head>
<body>
    <table>
        <tbody>
            <tr><th class="nodeName">@nodeName</th></tr>
            <tr></tr>
            @for(dependency <- 0 to nodeDependencies.length - 1) {
                <tr><td class="nodeDependencies">@nodeDependencies(dependency)</td></tr>
            }
            @for(output <- 0 to nodeOutputs.length - 1) {
                <tr><td class="nodeOutputs">@nodeOutputs(output)</td></tr>
            }
        </tbody>
    </table>
    <button id="returnButton"><a href="@routes.NodeController.node">Return</a></button>
</body>
</html>